/* The backround of the website */
.page
{
    background-color: darkslategray;
}

/* The menu overall */
.menu
{
    display: flex;
    
}

/* The menu buttons overall */
.menu > div
{
    display: none;
    padding-left: 5px;
}

/* The menu button individually*/
.menu > button
{
    width: 75px;
    background-color: lightgray;
    color: darkslategray;
    font-family: 'Segoe UI';
    font-size: 1em;
    font-weight: bold;
}

/* The menu button's hover */
.menu > button:hover
{
    background-color: whitesmoke;
    cursor: pointer;
}

/* The menu dropdown buttons*/
.menu > div > button
{
    width: 75px;
    background-color: lightgray;
    color: darkslategray;
    font-family: 'Segoe UI';
    font-size: 1em;
    font-weight: bold;
}

/* The menu dropdown buttons hover*/
.menu > div > button:hover
{
    background-color: whitesmoke;
    cursor: pointer;
}

/* The header text */
.page > h1
{
    color: lightgrey;
    font-family: 'Segoe UI';
    font-size: 3em;
    text-align: center;
}