/* The backround of this page */
.page
{
    margin: 0px;
    padding: 0px;
}


/* =============================================== */


/* The menu overall */
.menu
{
    margin: 0px;
    padding: 5px;
    background-color: black;
    display: flex;
}

/* The menu buttons overall */
.menu > div
{
    display: none;
    padding-left: 5px;
}

/* The menu button individually*/
.menu > button
{
    width: 75px;
    background-color: lightgray;
    color: darkslategray;
    font-family: 'Segoe UI';
    font-size: 1em;
    font-weight: bold;
}

/* The menu button's hover */
.menu > button:hover
{
    background-color: whitesmoke;
    cursor: pointer;
}

/* The menu dropdown buttons*/
.menu > div > button
{
    width: 75px;
    background-color: lightgray;
    color: darkslategray;
    font-family: 'Segoe UI';
    font-size: 1em;
    font-weight: bold;
}

/* The menu dropdown buttons hover*/
.menu > div > button:hover
{
    background-color: whitesmoke;
    cursor: pointer;
}


/* =============================================== */


/* The main part of this page */
.main
{
    display: block;
    margin: 0px;
    padding: 1px;
    height: 100vh;
    background-color: darkslategray;
    display: block;
}

/* The header text */
.main >  h1
{
    color: lightgrey;
    font-family: 'Segoe UI';
    font-size: 3em;
    text-align: center;
}

/* The about image */
.main > img
{
    position: absolute;
    translate: -50%;
    left: 50%;
    width: 350px;
    height: auto;
}

/* The about paragraph */
.main > p
{
    position: absolute;
    translate: -50%;
    left: 50%;
    padding-top: 375px;
    width: fit-content;
    color: lightgrey;
    font-family: 'Segoe UI';
    font-size: 1em;
    text-align: center;
}


/* =============================================== */


/* The footer overall */
.footer
{
    position: absolute;
    margin: 0px;
    padding: 5px;
    background-color: black;
    height: 85px;
    width: 100%;
}

/* The bottom Neurodivergent image */
.imageNeurodivergent
{
    display: block;
    position: absolute;
    translate: -50%;
    left: 50%;
    width: 200px;
    height: auto;
    padding-top: 5px;
}

/* The bottom Neocities image */
.imageNeocities
{
    display: block;
    position: absolute;
    translate: -50%;
    left: 50%;
    width: 100px;
    height: auto;
    padding-top: 35px;
}