/* ======================== Overall ======================== */

/* The overall page */
.overall
{
    display: block;
    margin: 0px;
    background-color: white;
}


/* ========================= Header ======================== */

/* The header overall */
.header
{
    display: flex;
    padding: 5px;
    background-color: black;
}

/* The header's buttons overall */
.header > div
{
    display: none;
    padding-left: 4px;
}

/* The header's menu button*/
.header > button
{
    width: 75px;
    background-color: darkgrey;
    color: darkslategray;
    font-family: 'Segoe UI';
    font-size: 1em;
    font-weight: bold;
}

/* The header's menu button hover */
.header > button:hover
{
    background-color: whitesmoke;
    cursor: pointer;
}

/* The header's menu displayed buttons*/
.header > div > button
{
    width: 75px;
    background-color: darkgrey;
    color: darkslategray;
    font-family: 'Segoe UI';
    font-size: 1em;
    font-weight: bold;
}

/* The header's menu displayed buttons hover*/
.header > div > button:hover
{
    background-color: whitesmoke;
    cursor: pointer;
}


/* ======================= This Page ======================= */

/* This page's exclusive content */
.page
{
    display: block;
    margin: 0px;
    padding: 1px;
    background-color: darkslategray;
    min-height: 100vh;
}

/* This page's header text */
.page >  h1
{
    color: lightgrey;
    font-family: 'Segoe UI';
    font-size: 3em;
    text-align: center;
}

/* This page's image */
.page > img
{
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: auto;
}

/* This page's paragraph */
.page > p
{
    margin: 0 auto;
    padding: 20px;
    max-width: 1250px;
    color: lightgrey;
    font-family: 'Segoe UI';
    font-size: 24px;
    text-align: center;
}


/* ========================= Footer ======================== */

/* The footer overall */
.footer
{
    background-color: black;
}

/* The footer's neurodivergent image */
.footer > img
{
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    width: 300px;
    height: fit-content;
}

/* The footer's neocities area */
.footer > div
{
    display: flex;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
}

/* The footer's neocities text */
.footer > div > p
{
    padding-right: 5px;
    color: lightgrey;
    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
    text-align: right;
}

/* The footer's neocities image */
.footer > div > img
{
    padding-left: 5px;
    width: 200px;
    height: fit-content;
}