/* */
.mainPage
{
    background-color: darkslategray;
}

/* */
.mainPage > h1
{
    color: lightgrey;
    font-family: 'Segoe UI';
    font-size: 3em;
    text-align: center;
}

/* */
.menuBar
{
    display: block;
    position: absolute; left: 5px; top: 5px;
}

/* */
.menuBar > button
{
    width: 75px;
    background-color: lightgray;
    color: darkslategray;
    font-family: 'Segoe UI';
    font-size: 1em;
    font-weight: bold;
}

/* */
.menuBar > ul
{
    margin: 0;
    padding: 0;
}

/* */
.menuBar > ul > button
{
    display: block;
    width: 75px;
    background-color: lightgray;
    color: darkslategray;
    font-family: 'Segoe UI';
    font-size: 1em;
    font-weight: bold;
}

/* */
.mainPage > button
{
    background-color: lightgray;
    color: darkslategray;
    font-family: 'Segoe UI';
    font-size: 2em;
    font-weight: bold;
    position: absolute; left: 50%; translate: -50%;
}

/* */
.mainPage > p
{
    display: none;
    color: lightgrey;
    font-family: 'Impact';
    font-size: 2em;
    text-align: center;
    padding-top: 75px;
}