body
{
    background-color: darkslategray;
}
h1
{
    color: lightgrey;
    font-family: 'Segoe UI';
    font-size: 3em;
    text-align: center;
}
button
{
    background-color: lightgray;
    color: darkslategray;
    font-family: 'Segoe UI';
    font-size: 2em;
    font-weight: bold;
    position: absolute; left: 50%; translate: -50%;
}
p
{
    display: none;
    color: lightgrey;
    font-family: 'Impact';
    font-size: 2em;
    text-align: center;
    padding-top: 75px;
}